@font-face {
  font-family: 'w-icon';
  src: url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAA1EAAwAAAAADPQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABHAAAAYAAAAGA4Zbj9k9TLzIAAAKcAAAAYAAAAGAPEgdsY21hcAAAAvwAAADEAAAAxL7TwtlnYXNwAAADwAAAAAgAAAAIAAAAEGdseWYAAAPIAAAGeAAABnjO8r8caGVhZAAACkAAAAA2AAAANhCeVXdoaGVhAAAKeAAAACQAAAAkB8ID5mhtdHgAAAqcAAAAlAAAAJQiAABCbG9jYQAACzAAAABMAAAATBDoElhtYXhwAAALfAAAACAAAAAgACsAVm5hbWUAAAucAAABhgAAAYaZSgn7cG9zdAAADSQAAAAgAAAAIAADAAAAAQAAAAoAHgAsAAFsYXRuAAgABAAAAAAAAAABAAAAAWxpZ2EACAAAAAEAAAABAAQABAAAAAEACgAAAAEAFAAHACYAkAC0APwBDgEkATwAAQAHAAkACwAMABcAGAAaACQABQAMABgAKAA6AFwAIAAFABYAFAAXABcAIwAHABQAEwAXABQAEQALAB8ACAAUABEAEQAIABUAFwALACIAEAARAAsACAAWAAQADAAUABYAEgAIABgAGAAPABMADQAgAAYACAATAAkACwARAAIABgAUAB4ABgAbABUACAATAAoAHgAHABMAEQAIABYADQALAAQACgAYACYAMgAhAAYAGQATABMACwARACEABgAPABEAGAALABYAHQAFAA8AEQALAAYAHQAKAA8AEQALAAQACwASABUAGAAcAAEABAAfAAYADgAWAA8AEwAQAAEABAAjAAgACwAWABIADwATAAgAEQABAAQAIgAJABwAFwAPABoAHAANAAUABwABAAQAIwACACQAAwPAAZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADqggPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAADAAAAAwAAABwAAQADAAAAHAADAAEAAAAcAAQAqAAAACYAIAAEAAYAAQAgAC0AMQAzADcAYQBpAHAAdQB56STpiuoP6lvqb+qC//3//wAAAAAAIAAtADEAMwA3AGEAYwBrAHIAd+kk6YnqD+pb6m/qgf/9//8AAf/j/9f/1P/T/9D/p/+m/6X/pP+jFvkWlRYRFcYVsxWiAAMAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAf//AA8AAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAADAED/wAPAA8AAGQAhADkAAAEuAScuAScuASMhIgYVERQWMyEyNjURNCYnJx4BFyM1HgETFAYjISImNRE0NjMwMzoBMzIxFRQWOwEDlhEtGRozFycpC/4QIS8vIQLgIS8OHIUXJQ2aESmGCQf9IAcJCQdNTrpNThMN4ALbFzMaGS0RHA4vIfygIS8vIQJwCyknNhcpEZoNJfzoBwkJBwNgBwngDRMAAAAEAAD/wAQAA8AABgANABQAGwAAASEXBxc3FxkBBycHFwcpASc3JwcnGQE3FzcnNwQA/mCgwGDAoKDAYMCg/aABoKDAYMCgoMBgwKADwKDAYMCg/aABoKDAYMCgoMBgwKACYP5goMBgwKAAAAAEAAD/wAQAA8AABgANABQAGwAAASEnNycHJxkBNxc3JzcpARcHFzcXGQEHJwcXBwJAAaCgwGDAoKDAYMCg/eD+YKDAYMCgoMBgwKACAKDAYMCg/eD+YKDAYMCgoMBgwKACIAGgoMBgwKAAAAABAAL/wgP+A74AUwAAJTgBMQkBOAExPgE3NiYvAS4BBw4BBzgBMQkBOAExLgEnJgYPAQ4BFx4BFzgBMQkBOAExDgEHBhYfAR4BNz4BNzgBMQkBOAExHgEXFjY/AT4BJy4BA/f+yQE3AgQBAwMHkwcSCQMGAv7J/skCBgMJEgeTBwMDAQQCATf+yQIEAQMDB5MHEgkDBgIBNwE3AgYDCRIHkwcDAwEEiQE3ATcCBgMJEgeTBwMDAQQC/skBNwIEAQMDB5MHEgkDBgL+yf7JAgYDCRIHkwcDAwEEAgE3/skCBAEDAweTBxIJAwYAAAIAAP/ABAADwAAZAE4AAAEiBw4BBwYdAQERFBYzMjY1EQE1NCcuAScmBT4BNzY3PgE3NjMyFx4BFxYXHgEXHgEXDgEHDgEHBgcOAQcGIyInLgEnJicuAScuASc+ATcCAGpdXosoKAGASzU1SwGAKCiLXl399BIyHiElJlErLCwsLCtRJiUhHjISCw4DAw4LEjIeISUmUSssLCwsK1EmJSEeMhILDgMDDgsDwA0MLB0dIWD+gP7AGyUlGwFAAYBgIR0dLAwNiwoUCAkHBwkDAgIDCQcHCQgUCgcLAwMLBwoUCAkHBwkDAgIDCQcHCQgUCgcLAwMLBwAAAwAA/8AD4APAAAMACwAXAAA3IRUhASEDIxMhNSETJwcnNyc3FzcXBxcAAkD9wAOA/tG3hbj+8wLAIoKCPoKCPoKCPoKCQIADgP1AAsCA/ACCgj6Cgj6Cgj6CggAFAAAAAAQAA4AAAwAHAAsAHwAjAAATESERAyERIQchESEBIxUjFSM1MzUzNSM1IzUzFTMVMwUjNTMABABA/IADgED9AAMA/kBAQEBAQEBAQEBAAQDAwAOA/IADgPzAAwBA/YABQEBAQEBAQEBAQMBAAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAADCBt5tfDzz1AAsEAAAAAADWwAh9AAAAANbACH0AAP/ABAADwAAAAAgAAgAAAAAAAAABAAADwP/AAAAEAAAAAAAEAAABAAAAAAAAAAAAAAAAAAAAJQQAAAAAAAAAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAQAQAAAAEAAAABAAAAgQAAAAEAAAABAAAAAAAAAAAAAAAAAoAFAAeACgAMgA8AEYAUABaAGQAbgB4AIIAjACWAKAAqgC0AL4AyADSANwA5gDwAPoBBAEOARgBbAGiAdgCTgLKAvgDMgM8AAEAAAAlAFQABQAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAOAK4AAQAAAAAAAQAHAAAAAQAAAAAAAgAHAGAAAQAAAAAAAwAHADYAAQAAAAAABAAHAHUAAQAAAAAABQALABUAAQAAAAAABgAHAEsAAQAAAAAACgAaAIoAAwABBAkAAQAOAAcAAwABBAkAAgAOAGcAAwABBAkAAwAOAD0AAwABBAkABAAOAHwAAwABBAkABQAWACAAAwABBAkABgAOAFIAAwABBAkACgA0AKRpY29tb29uAGkAYwBvAG0AbwBvAG5WZXJzaW9uIDEuMABWAGUAcgBzAGkAbwBuACAAMQAuADBpY29tb29uAGkAYwBvAG0AbwBvAG5pY29tb29uAGkAYwBvAG0AbwBvAG5SZWd1bGFyAFIAZQBnAHUAbABhAHJpY29tb29uAGkAYwBvAG0AbwBvAG5Gb250IGdlbmVyYXRlZCBieSBJY29Nb29uLgBGAG8AbgB0ACAAZwBlAG4AZQByAGEAdABlAGQAIABiAHkAIABJAGMAbwBNAG8AbwBuAC4AAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA) format('woff');
  font-weight: normal;
  font-style: normal;
}
[class^="w-icon-"],
[class*=" w-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'w-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
}

.w-e-droplist{ z-index: 10010; }
.w-e-menu{ z-index: 10 !important; }
.w-e-text-container{ z-index: 9 !important; }
.w-e-text-container .w-e-text h1{ font-size: 24px; margin: 22px 0; font-weight: bold; }
.w-e-text-container .w-e-text h2{ font-size: 22px; margin: 20px 0; font-weight: bold; }
.w-e-text-container .w-e-text h3{ font-size: 20px; margin: 18px 0; font-weight: bold; }
.w-e-text-container .w-e-text h4{ font-size: 18px; margin: 16px 0; font-weight: bold; }
.w-e-text-container .w-e-text h5{ font-size: 16px; margin: 14px 0; font-weight: bold; }

.w-e-text-container .w-e-text table th{ text-align: center; }
.w-e-text-container .w-e-text table td{ text-align: center; }

.w-e-text-container .w-e-text ul li { list-style-type: disc; }
.w-e-text-container .w-e-text ol li { list-style-type: decimal; }

.w-e-text-container .w-e-text b { font-weight: 800; }
.w-e-text-container .w-e-text a { color: #2196f3; text-decoration: underline; }

.w-e-toolbar {
  flex-wrap: wrap;
  -webkit-box-lines: multiple;
}

.w-icon-enlarge:before {
  content: "\e989";
}
.w-icon-shrink:before {
  content: "\e98a";
}
.w-icon-filter:before {
  content: "\ea5b";
}
.w-icon-clear-formatting:before {
  content: "\ea6f";
}
.w-icon-file-empty:before {
  content: "\e924";
}
.w-icon-file-class-code:before {
  content: "\ea81";
}

.fullscreen-editor {
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
  left: 0px !important;
  top: 0px !important;
  background-color: white;
  z-index: 9999;
}

.fullscreen-editor .w-e-toolbar {
  width: 100% !important;
}
.fullscreen-editor .w-e-text-container {
  width: 100% !important;
  height: 95% !important;
}

.code_pannel{
  position: absolute;
  top: 0;
  left: 50%;
  z-index:10002;
  height: 280px;
  width: 600px;
  padding: 5px 10px;
  margin-left: -300px;
  background: #fff;
  box-shadow: 1px 1px 8px rgba(0,0,0,.3);
  display: none;
  overflow: hidden;
}

.code_pannel #closePannel{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  color: #999;
  cursor: pointer;
}
.code_pannel #closePannel:hover{
  color: #000;
}

.code_pannel > h2{
  width: 100%;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  color: #333;
  border-bottom: 1px solid #f1f1f1;
}

.code_pannel #pannelInput{
  width: 100%;
  height: 30px;
  margin-top: 5px;
  padding: 0 10px;
  border: 0;
  border-bottom: 1px solid #f1f1f1;
  background: #fff;
  outline: 0;
  font-size: 14px;
  line-height: 30px;
}

.code_pannel #pannelTextarea{
  width: 100%;
  height: 145px;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #f1f1f1;
  background: #fff;
  outline: 0;
  font-size: 14px;
  line-height: 20px;
}
.code_pannel #pannelInput:focus,.code_pannel #pannelTextarea:focus{
  border-color: #1e88e5;
}

.code_pannel #pannelSubmit{
  float: right;
  font-size: 14px;
  color: #1e88e5;
  border: 0;
  padding: 5px 10px;
  background: #fff;
  cursor: pointer;
  border-radius: 3px;
  margin: 5px 0;
}

.code_pannel #pannelSubmit:hover{
  background: #f1f1f1;
}
